<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Levels</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Add your stylesheets here -->
    <link rel="stylesheet" href="/css/my_styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.css">
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>-->
    <!-- Bootstrap Bundle JS (includes Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-qQ2dXVZ4eVlb1DF8Y8W+Oyy7lE0g1aAAzBXIbzq2O+q2QCBv+Lg5vAId+5yz20by" crossorigin="anonymous"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


  </head>

  <body>
    <div class="container py-5">
      <a href="/">Return to the homepage</a>

      <hr>
      
      <%= yield %>
    </div>
  </body>
</html>
